---
layout: main.html
title: Essays
description: A collection of personal essays on film, technology, philosophy, and art—charting the edges where culture, creativity, and critical thought meet.
---

<style>
    main { 
        text-align: center; 
        width: 90%; 
    }
</style>

<h1>Essays</h1>
<p class='caption'>{{ description }}</p>

<div class="cardContainer">
    {% for essay in collections.essays reversed %}
    <div class="essay-card">
        <a href="{{ essay.url }}">
            <div class="essay-title"> {{ essay.data.title }} </div>
        </a>
        <div class="metadata">
            {{ essay.data.date | postDate }}<br>
            {% for subject in essay.data.subject %}
                <span class="subject">
                    {{ subject }}
                </span>
            {% endfor %}


        </div>
        <div class="essay-preview">
            {{ essay.templateContent | striptags | truncate: 275, "..." }} 
            <a href="{{ essay.url }}">
                Read More &nbsp;<i class="nf nf-fa-arrow_right"></i>
            </a>
        </div>
    </div>
    {% endfor %}
