---
layout: main.html
title: Welcome
description: I'm a propagandist for pickled red onions, a rare meat activist, and Captain of the sailing vessel Knox. I've been creating content online for well over a decade now, but delivering to a relatively small audience. Undoubtedly, you've discovered this website by mistake, but thanks for stopping by anyway. Feel free to browse around, odds are you might find something interesting.
---
<style>
    main { 
        text-align: center; 
        width: 95%; 
    }
}
</style>

<h1>{{ title }}</h1>
<p class="caption">{{ description }}</p>

<hr></hr>

<h2>New Videos</h2>

<div class=cardContainer>
    {% assign sorted = airtable | sort: "Date" | reverse %}
    {% for item in sorted limit:3 %}
    <div data-category="{{ item.Type }}" class="video-card">
        <a href="{{ item.yturl }}" target="_blank" title="YouTube">
            <img src="https://i.ytimg.com/vi/{{ item.ytid | strip }}/maxresdefault.jpg" alt="Hero image"/>
        </a>
        <div class='metadata'>{{ item.Date }} • {{ item.Type }}</div>   
        <p class="videos">{{ item.Title | truncate: 42, "..." }}</p>
        <div class="platform-select">      
            Watch on:    
            <a href="{{ item.yturl }}" target="_blank">YouTube, </a>
            <a href="{{ item.odurl }}" target="_blank">Odysee, </a> or 
            <a href="{{ item.ivurl }}" target="_blank">Invidious</a>
        </div>                                                     
    </div>
    {% endfor %}
</div>

<h2>Projects Worth Checking Out</h2>

<div class=cardContainer>
    <div class=card data-category="App / Web App">
        <img src="https://raw.githubusercontent.com/makccr/vim2tor/refs/heads/main/src/asci.jpg" alt="hero image"> 
        <h2 class="essays">vim2tor</h2>
        <div class="dwnld-preview">
            The next step in learning for the world's most powerful text-editor.
        </div>
        <a href="https://vim2tor.makc.co" target=_blank><button>View Site &nbsp;<i class="nf nf-md-exit_to_app"></i></button></a>
        <a href="https://codeberg.org/makccr/vim2tor" target=_blank><button><i class="nf nf-linux-codeberg"></i></button></a>
        <a href="https://github.com/makccr/vim2tor" target=_blank><button><i class="nf nf-dev-github"></i></button></a>
    </div>
    <div class=card data-category="Configs">
        <img src="images/downloads/dot.jpg" alt="hero image"> 
        <h2 class="essays">Dot Files</h2>
        <div class="dwnld-preview">
            My full collection of configuration files for my tiling window manager setup on Linux.
        </div>
        <a href="https://codeberg.org/makccr/dot" target=_blank><button>Codeberg &nbsp;<i class="nf nf-linux-codeberg"></i></button></a>
        <a href="https://github.com/makccr/dot" target=_blank><button><i class="nf nf-dev-github"></i></button></a>
    </div>
    <div class=card data-category="Wallpapers">
        <img src="images/downloads/walls.jpg" alt="hero image"> 
        <h2 class="essays">Wallpapers</h2>
        <div class="dwnld-preview">
            My curated collection of wallpapers selected for desktop use, and made easy to use on Linux.
        </div>
        <a href="https://wallpapers.makc.co" target=_blank><button>Browse &nbsp;<i class="nf nf-custom-folder"></i></button></a>
        <a href="https://github.com/makccr/wallpapers" target=_blank><button><i class="nf nf-dev-github"></i></button></a>
    </div>
</div>

<h2>Writing</h2>
<div class="cardContainer">
    {% assign recentEssays = collections.essays | reverse | slice: 0, 3 %}
    {% for essay in recentEssays %}
    <div class="essay-card">
        <a href="{{ essay.url }}">    
            <div class="essay-title"> {{ essay.data.title }} </div>
        </a>   
        <div class="metadata">
            {{ essay.data.date | postDate }}<br>      
            {% for subject in essay.data.subject %}           
                <span class="subject">{{ subject }}</span>  
            {% endfor %}                                         
        </div>                                                   
        <div class="essay-preview">                              
            {{ essay.templateContent | striptags | truncate: 275, "..." }} 
            <a href="{{ essay.url }}">
                Read More &nbsp;<i class="nf nf-fa-arrow_right"></i>            
            </a>              
        </div>                
    </div>                    
    {% endfor %}              
<div class="cardContainer">
    {% assign recentDocs = collections.docs | reverse | slice: 0, 3 %}
    {% for essay in recentDocs %}
    <div class="essay-card">
        <a href="{{ essay.url }}">
            <div class="essay-title"> {{ essay.data.title }} </div>
        </a>
        <div class="metadata">
            <strong>Posted:</strong> {{ essay.data.date | postDate }}<br>
            <strong>Updated:</strong> {{ essay.data.updated | postDate }}<br>
            {% for subject in essay.data.subject %}
                <span class="subject">
                    {{ subject }}
                </span>
            {% endfor %}
        </div>
        <br>
    </div>
    {% endfor %}
