---
layout: main.html
title: Videos
description: My entire catalog of video content. Over a decade of content ranging tech, motion graphics, web design, video essays and much more. Now available on <a href="https://www.youtube.com/@makc" target="_blank">YouTube</a>, <a href="https://inv.nadeko.net/channel/UCWh6YtclgTAzReTASc4uSKw" target="_blank">Invidious</a> or <a href="https://odysee.com/@makc:a" target="_blank">Odysee</a>
---

<style>
    main {
        width: 90%; 
    }    
</style> 

<h1>{{ title }}</h1>
<p class="caption">{{ description }}</p>

{% assign categories = "" | split: "" %}
{% for video in videos %}
  {% unless categories contains video.category %}
    {% assign categories = categories | push: video.category %}
  {% endunless %}
{% endfor %}

<div class="filterButtons">
  <button data-filter="all" class="active">All</button>
  {% for cat in categories %}
    <button data-filter="{{ cat }}">{{ cat }}</button>
  {% endfor %}
</div>

<div class=VIDcardContainer>
        {% for video in videos %}
    <div data-category="{{ video.category }}" class="video-card">
        <a href="https://youtube.com/watch?v={{ video.ytid }}" target="_blank" title="YouTube">
        <img src="https://i.ytimg.com/vi/{{ video.ytid }}/maxresdefault.jpg" alt="Hero image"/>
        </a>
        <div class='metadata'>{{ video.date | displayDate }} • {{ video.category }}</div>
        <p class="videos">{{ video.title | truncate: 42, "..." }}</p>
        <div class="platform-select">
            Watch on:  
            <a href="https://youtube.com/watch?v={{ video.ytid }}" target="_blank">YouTube, </a>
            <a href="{{ video.odurl }}" target="_blank">Odysee, </a> or 
            <a href="https://inv.nadeko.net/watch?v={{ video.ytid }}" target="_blank">Invidious</a>
        </div>
    </div>
        {% endfor %}
</div>

<script>
  const buttons = document.querySelectorAll(".filterButtons button");
  const cards = document.querySelectorAll(".video-card");

  buttons.forEach(button => {
    button.addEventListener("click", () => {
      // Remove active from all buttons
      buttons.forEach(btn => btn.classList.remove("active"));
      button.classList.add("active");

      const filter = button.getAttribute("data-filter");

      cards.forEach(card => {
        if(filter === "all" || card.dataset.category === filter) {
          card.style.display = "";
        } else {
          card.style.display = "none";
        }
      });
    });
  });
</script>
